body {
    font-family: sans-serif;
    margin-top: 60px;
    background-color: lightgrey;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-small {
    height: 300px;
}

.container{
    max-width: 999px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.asdf{
    float: right;
    max-width: 500px;
    margin: 0 auto;
    
    padding-left: 50px;
}